### Django ###
*.pyc
*.DS_Store

**/__pycache__/**
*.log

db.sqlite3
db.sqlite3-journal
venv

media/**
!media/static
static/admin/*
static/rest_framework/*
static/*

.vscode
*.ini
*.env
.git_credentials
.gitlab-ci.yml
gitpush
model_fields.py
*.json

postgres-data
socket
sockets
